<div class="row">
    <div class="container">
        <form action="__CONTROLLER__/check_login" method="post" class="form-group">
            <h3>用户登录</h3>
            <label for="account"></label><input type="text" name="account" id="account" class="form-control">
            <label for="password"></label><input type="password" name="password" id="password" class="form-control">
            <input type="submit" value="登录" class="btn btn-primary">
            <span class="verify"></span>
        </form>
    </div>
</div>