<div class="row">
    <div class="container">
        <form action="__CONTROLLER__/check_reg" method="post" class="form-group">
            <h3>用户注册</h3>
            <label for="account">注册账号</label><input type="text" name="account" id="account" class="form-control" placeholder="请输入注册账号">
            <label for="password">注册密码</label><input type="password" name="password" id="password" class="form-control" placeholder="请输入注册密码">
            <label for="rpassword">确认密码</label><input type="password" name="rpassword" id="rpassword" class="form-control" placeholder="请输入确认密码">
            <input type="submit" value="注册" class="btn btn-primary">
            <span class="verify"></span>
        </form>
    </div>
</div>