<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>小型商城 TP-Shop</title>
    <link rel="stylesheet" href="__PUBLIC__/CSS/index.css">
    <script src="__PUBLIC__/JS/jquery.min.js"></script>
</head>
<body>
<header>
    <div class="title">
        <h3>TP-Shop</h3>
        <p>能使您满意的商场！</p>
    </div>
    <div class="sidebar">
        <empty name="$id = session('id')">
            <ul>
                <li><a href="__CONTROLLER__/show_login">登录</a></li>
                <li><a href="__CONTROLLER__/reg">注册</a></li>
            </ul>
            <else />
            <ul>
                <li><a href="#">{:session('id')}</a></li>
                <li><a href="__CONTROLLER__/logout">登出</a></li>
            </ul>
        </empty>
    </div>
</header>
<div class="banner">
    <img src="__PUBLIC__/images/banner.jpg" alt="banner">
</div>
<article>
    <div class="sea_bar">
        <form method="POST">
            <input type="text" name="sea_key" id="sea_key"><input type="submit" value="查询" id="sea_button">
        </form>
    </div>