<div class="add_store">
    <h3>添加商家</h3>
    <div class="add_store">
    <form action="__CONTROLLER__/add_store" method="post" id="add_store_form">
    <label for="store_name">商家名：</label><input type="text" id="store_name" name="store_name" placeholder="请输入商家名">
    <label for="store_add">商家地址：</label><input type="text" id="store_add" name="store_add" placeholder="请输入商家地址">
    <label for="store_tel">商家电话：</label><input type="text" id="store_tel" name="store_tel" placeholder="请输入商家手机">
    <input type="button" value="添加" id="add_store_btn">
    </form>
    </div>
</div>