<div class="add_good">
    <h3>添加商品</h3>
    <div class="add_good">
        <form action="__CONTROLLER__/add_good_ok" method="POST" id="add_good_form">
            <label for="good_name">商品名称：</label><input type="text" id="good_name" name="good_name" placeholder="请输入商品名称">
            <label for="good_price">商品价格：</label><input type="text" id="good_price" name="good_price" placeholder="请输入商品价格">
            <label for="good_height">商品高度：</label><input type="text" name="good_height" id="good_height" placeholder="请输入商品高度,单位为：mm">
            <label for="good_width">商品宽度：</label><input type="text" name="good_width" id="good_width" placeholder="请输入商品宽度,单位为：mm">
            <label for="good_feature">商品宽度：</label><textarea name="good_feature" id="good_feature"  placeholder="请输入商品特征和特点"></textarea>
            <input type="button"  value="添加" id="add_good_btn">
        </form>
    </div>
</div>