<div class="show_good">
    <h3>商品详情</h3>
    <div class="good_list">
        <table>
            <tr>
                <td>序号</td>
                <td>商品名称</td>
                <td>商品高度（单位：mm）</td>
                <td>商品宽度（单位：mm）</td>
                <td>商品特征</td>
            </tr>
            <tr>
                <td>{$good_desc_list.good_id}</td>
                <td>{$good_name}</td>
                <td>{$good_desc_list.height}</td>
                <td>{$good_desc_list.width}</td>
                <td>{$good_desc_list.feature}</td>
            </tr>
        </table>
    </div>
</div>