<div class="show_category">
    <h3>分类管理</h3>
    <div class="add_category">
        <form action="__CONTROLLER__/add_category" method="post">
            分类名：<input type="text" name="category_name" id="category_name">
            <input type="submit" value="添加" id="add_category_btn">
        </form>
    </div>
    <notempty name="category_result">
    <div class="show_category_result">
        <table>
            <tr>
                <th>序号</th>
                <th>分类名</th>
                <th>操作</th>
            </tr>
            <volist name="category_result" id="vo">
                <tr>
                    <!-- <td>{$vo.id}</td> -->
                    <td>{$category_id = $category_id + 1}</td>
                    <td>{$vo.name}</td>
                    <td>[<a href="__CONTROLLER__/del_category/{$vo.id}">删除</a>]</td>
                </tr>
            </volist>
        </table>
        <!-- 分页栏 -->
        <div class="result page">{$Page}</div>
    </notempty>
    </div>
</div>