@charset "utf-8";
.form-group{
    padding: 65px;
    width: 650px;
    margin: 0 auto;
}
.blog-post{
    padding-top: 50px;
    padding-left: 30px;
}
.media{
    padding: 65px;
}
.btn{
    margin: 15px;
}
small{
    display: inline-block;
    padding: 15px;
}
article{
    padding: 15px;
    font-size: 24px;
}