@@charset "UTF-8";
* {padding: 0px; margin: 0px;}
body{ font-size: 12px;}
form{ padding: 40x; margin: 20% 40%; text-align: center;}
.username, .password, #login{ margin: 10px auto;}
.username, .password { height: 25px; width: 180px; line-height: 25px; text-indent: .2em;}
#login{ height: 28px; width: 45px; border: none; }
