<<include file="Public/head" />
    <div class="good_list">
        <div class="row">
            <h4>最新商品 New</h4>
            <ul>
                <li><a href="__CONTROLLER__/show_good/1"><img src="__PUBLIC__/images/goods/01.jpg" alt=""></a>¥ 65</li>
                <li><a href="#"><img src="__PUBLIC__/images/goods/02.jpg" alt=""></a>¥ 40</li>
                <li><a href="#"><img src="__PUBLIC__/images/goods/03.jpg" alt=""></a>¥ 35</li>
                <li><a href="#"><img src="__PUBLIC__/images/goods/04.jpg" alt=""></a>¥ 30</li>
                <li><a href="#"><img src="__PUBLIC__/images/goods/05.jpg" alt=""></a>¥ 65</li>
                <li><a href="#"><img src="__PUBLIC__/images/goods/06.jpg" alt=""></a>¥ 20</li>
                <li><a href="#"><img src="__PUBLIC__/images/goods/07.jpg" alt=""></a>¥ 15</li>
                <li><a href="#"><img src="__PUBLIC__/images/goods/08.jpg" alt=""></a>¥ 30</li>
            </ul>
        </div>
    </div>
<include file="Public/foot" />
