        <p class="index_hr"></p>
            <div class="footer">
                <span class="span_1">&copy; Copyright 2016, 网上书店, 主要用于Web教学使用，不用于商业用途！</span>
                <span class="span_2"><img src="__PUBLIC__/Images/icon_hg.jpg" align="absmiddle" /><b><a href="http://www.gzittc.com">广州市工贸技师学院 Gzittc.com</a></b></span>
            </div>
        </div>
    </div>
    <script src="__PUBLIC__/bootstrap/js/jquery.min.js"></script>
    <script src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>