<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>网上书店</title>
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Css/reset.css" />
    <link type="text/css" rel="stylesheet" href="__PUBLIC__/Css/1024_768.css" />
    <link type="text/css" rel="stylesheet" media="screen and (min-width:861px) and (max-width:960px)" href="__PUBLIC__/Css/pad_heng.css" />
    <link type="text/css" rel="stylesheet" media="screen and (min-width:601px) and (max-width:860px)" href="__PUBLIC__/Css/pad.css" />
    <link type="text/css" rel="stylesheet" media="screen and (min-width:481px) and (max-width:600px)" href="__PUBLIC__/Css/tel_heng.css" />
    <link type="text/css" rel="stylesheet" media="screen and (max-width:480px)" href="__PUBLIC__/Css/tel.css" />
    <link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Css/showDesc.css">
</head>

<body>
<div class="w_100_l">
    <div class="main">
        <div class="top_banner">
            <div class="top_logo"><img src="__PUBLIC__/Images/top_logo.jpg" alt="ONLINE BOOK STORE LOGO" /></div>
            <div class="top_menu">
                <ul>
                    <li class="sel"><a href="__CONTROLLER__/">首页</a></li>
                    <li><a href="#">书城</a></li>
                    <li><a href="#">出版社</a></li>
                    <li><a href="#">关于我们</a></li>
                    <li><a href="#">帮助</a></li>
                </ul>
            </div>
            <div class="top_shop_cur"><a href="#"><img src="__PUBLIC__/Images/top_shop_cur.jpg" alt="shopping car" /></a></div>
        </div>
        <span class="index_img"><img src="__PUBLIC__/Images/banner_img.jpg" alt="Dan Cederholm" border="0" usemap="#Map" />
        <map name="Map" id="Map">
          <area shape="rect" coords="857,230,930,269" href="#" alt="buy now" />
        </map>
        </span>
        <p class="index_hr"></p>