@charset "utf-8";
* { margin: 0; padding: 0; }
a { text-decoration: none; color: #000; }
.wrap { width: 339px; margin: 0 auto; }
.wrap form{ padding: 35px; margin-top: 200px;}
h3{ margin: 15px auto; font-weight: bold; }
#username, #password, #rpassword{ width: 150px;  height: 30px; margin: 15px; }
#code { width: 130px; height: 30px;  margin: 25px;}
#btn { height: 30px; width: 65px; border: none; background-color: #f00; color: #fff; }